:root {
    --dark-accent: rgb(25, 25, 83);
    --light-accent: rgb(175, 156, 175);


}

body {
    background-color: lightslategray;
}

.navbar {
    background-color: var(--light-accent);
    color: var(--dark-accent);
}

.navbar-text {
    width: 100%;
}

a:link {
    color: rgb(109, 70, 79);
}

a:visited {
    color: rgb(109, 70, 79);
}

.version-box {
    background-color: var(--dark-accent);
    color: var(--light-accent);
    padding: 7px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.purp-text {
    color: var(--dark-accent);
}

.purp-bg {
    background-color: var(--light-accent);
}

.purp-border {
    border: 5px solid var(--dark-accent);
}

.card {
    margin: 10px;
}

#work {
    margin-top: 20px;
}